@font-face {
    font-family: EncorpadaClassicBold;
    src: url(../../fonts/Encorpada_Classic/Vietnamese/dooTypeEncorpadaClassicBold.otf);
}

@font-face {
    font-family: SangBleuSans;
    src: url(../../fonts/SangBleuSans/SangBleuSans-Regular.otf);
}
